/* Base icon styles */
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
}

/* Color variants */
.text-gray-900 .icon:not(.icon-logo),
.icon.text-gray-900:not(.icon-logo) {
  filter: brightness(0) saturate(100%) invert(20%) sepia(10%) saturate(0%)
    hue-rotate(206deg) brightness(95%) contrast(98%);
}

/* Добавляем фильтр для серых иконок - используйте класс text-gray-500 */
.text-gray-500 .icon:not(.icon-logo),
.icon.text-gray-500:not(.icon-logo) {
  filter: brightness(0) saturate(100%) invert(50%) sepia(10%) saturate(0%)
    hue-rotate(206deg) brightness(95%) contrast(85%);
}

/* Добавляем фильтр для красных иконок - используйте класс text-red-500 */
.text-red-500 .icon:not(.icon-logo),
.icon.text-red-500:not(.icon-logo) {
  filter: brightness(0) saturate(100%) invert(27%) sepia(80%) saturate(4000%)
    hue-rotate(346deg) brightness(101%) contrast(95%);
}

/* Добавляем effect для hover в красных иконках */
.text-red-600 .icon:not(.icon-logo),
.icon.text-red-600:not(.icon-logo),
.hover\:text-red-600:hover .icon:not(.icon-logo) {
  filter: brightness(0) saturate(100%) invert(15%) sepia(90%) saturate(3500%)
    hue-rotate(345deg) brightness(90%) contrast(95%);
}

/* Добавляем эффект для hover в красных иконках */
.hover\:text-red-500:hover .icon:not(.icon-logo) {
  filter: brightness(0) saturate(100%) invert(27%) sepia(80%) saturate(4000%)
    hue-rotate(346deg) brightness(101%) contrast(95%);
}

/* Logo icon */
.icon-logo {
  background-image: url("./svg/logo.svg");
}

/* Menu icons */
.icon-menu {
  background-image: url("./svg/menu.svg");
}

.icon-close-menu {
  background-image: url("./svg/close-menu.svg");
}

/* Category icons */
.icon-resources {
  background-image: url("./svg/folder-open.svg");
}

.icon-notebooks {
  background-image: url("./svg/book.svg");
}

.icon-api {
  background-image: url("./svg/code.svg");
}

.icon-database {
  background-image: url("./svg/database.svg");
}

.icon-iam {
  background-image: url("./svg/user-shield.svg");
}

.icon-far {
  background-image: url("./svg/tasks.svg");
}

.icon-plugins {
  background-image: url("./svg/puzzle-piece.svg");
}

/* Action icons */
.icon-search {
  background-image: url("./svg/search.svg");
}

.icon-pin {
  background-image: url("./svg/thumbtack.svg");
}

.icon-pin-filled {
  background-image: url("./svg/thumbtack-filled.svg");
}

.icon-clock {
  background-image: url("./svg/clock.svg");
}

.icon-plus {
  background-image: url("./svg/plus.svg");
}

.icon-table {
  background-image: url("./svg/table.svg");
}

.icon-sort {
  background-image: url("./svg/sort.svg");
}

.icon-layer-group {
  background-image: url("./svg/layer-group.svg");
}

.icon-getting-started {
  background-image: url("./svg/gettingstarted.svg");
}

.icon-user {
  background-image: url("./svg/user-shield.svg");
}

.icon-profile {
  background-image: url("./svg/profile.svg");
}

.icon-console {
  background-image: url("./svg/console.svg");
}

.icon-settings {
  background-image: url("./svg/Settings.svg");
}
